# Math and computation
numpy


# Web
flask
flask-api
flask-cors

requests
werkzeug


# Serializers
flask-marshmallow
marshmallow
marshmallow-numpy


# Storage
redis


# Testing
fakeredis
pytest
pytest_mock